<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  
    <table border="1" cellpadding="7">
        <tr>
            <td>id</td>
        <td>name</td>
        <td>result</td>
        <td>email</td>
        </tr>
        <tr>
            {% if std %}
            <td>{{std[0]}}</td>
            <td>{{std[1]}}</td>
            <td>{{std[2]}}</td>
            <td>{{std[3]}}</td>

        
        {% endif %}
        </tr>
    </table>
    
</body>
</html>